@font-face{
    font-family: 'Raleway';
    src: url('/src/fonts/ABeeZee-Regular.ttf');
}
@font-face{
    font-family: 'Roboto';
    src: url('/src/fonts/ABeeZee-Italic.ttf');
}
/****************************
        TOTAL PART
*****************************/
.total_part {
    position: absolute;
    background-color: #363535;
    height: 150px;
    width: 500px;
    margin-left: 400px;
    margin-top: 100px;
}
.total_title {
    font-family: 'Ralewa', Fallbacl, sans-serif;
    text-align: center;
    font-size: 40px;
}
.total_number {
    font-family: 'Ralewa', Fallbacl, sans-serif;
    text-align: center;
    font-size: 50px;
}
/****************************
        SEMI TOTAL PART
*****************************/
.semi_part {
    position: absolute;
    background-color: #e6e6e6;
    height: 100px;
    width: 400px;
    margin-left: 450px;
    margin-top: 250px;
}
.semi_title {
    font-family: 'Ralewa', Fallbacl, sans-serif;
    text-align: center;
    font-size: 40px;
}
.semi_number {
    font-family: 'Ralewa', Fallbacl, sans-serif;
    text-align: center;
    font-size: 50px;
}
