@font-face{
    font-family: 'Gilroy-ExtraBold';
    src: url('./fonts/Gilroy-ExtraBold.ttf');
}
@font-face{
    font-family: 'Gilroy-Light';
    src: url('./fonts/Gilroy-Light.ttf');
}


.terms {
    display: flex;
  }
  
  .terms > img {
    margin: 0;
  }
.bar_menu{
    background-color: #dfdfdf;
}
.icon-menu{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.title{
    font-family: 'Gilroy-Light', Fallback, sans-serif;
    text-align: right;
    border: 1px solid black;
}